<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar__block">
      <div class="navbar__logo-block gap-20">
        <img class="navbar__logo-img" src="../pizza.png" alt="logo" />
        <h1 class="navbar__logo-text">Pizza<br> cheff</h1>
      </div> 
        <ul class="navbar__menu">
          <li class="navbar__menu-item active">
            <a class="navbar__menu-item link" href="#">Пиццы</a>
          </li>
          <li class="navbar__menu-item ">
            <a class="navbar__menu-item link" href="#">Напитки</a>
          </li>
          <li class="navbar__menu-item ">
            <a class="navbar__menu-item link" href="#">Доставка и оплата</a>
          </li>
          <li class="navbar__menu-item ">
            <a class="navbar__menu-item link" href="#">Контакты</a>
          </li> 
        </ul> 
      </div>
    </div>
  </nav>
</header>