<div class="container">
  <div class="form-block grid-row-3 gap-20">
      <div>
        <h2 class="form-block__title">Хватит думать! <br>
          <span class="form-block__title form-block__title-light">Доставим заказ за 30 минут!</span>
        </h2>
        <div  class="form-block__description" >Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1
          минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и
          сделаем всё, чтобы наш клиент был доволен и не остался голодный!</div>
      </div>
      <div class="">
        <apply-form />
      </div>
      <div class="form-block__image-block">
        <img class="form-block__image" src="./pizzzzza.jpg" alt="pizza">
      </div>
    </div> 
</div>