@use 'normalize.css';

body {
  margin: 0;
  font-family: "Roboto", serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 1320px;
}

.grid-row-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-row-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gap-20 {
  gap: 20px
}

.button {
  font-weight: 500;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: .3s;
}

.error-message{
  color: red;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  .grid-row-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  .grid-row-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }

  .grid-row-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}